<footer class="footer">
  <div class="container">
    <div class="footer-message">
      <strong>Made by <%=link_to "Kyle Tate", "mailto:kbt.tate@gmail.com" %> with Ruby on Rails</strong></br>
      <%= link_to "source", "https://github.com/infiton/kyletate_ca" %>
    </div>
    <p class="footer-links text-muted">
      <% unless user_signed_in? %>
        <%= link_to "Sign in", new_user_session_path %>
      <% else %>
        <%= link_to "New post", new_post_path %> |
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% end %>
    </p>
  </div>
</footer>